:root {
  --choc-black: #38240D;
  --choc-brown: #713600;
  --choc-orange: #C05800;
  --choc-cream: #FDFBD4;
}

/* Force the app to take up the full screen and remove Vite's default margins */
html, body, #root {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevents any horizontal scrolling */
}

body {
  background-color: var(--choc-cream);
  color: var(--choc-black);
}